.row{
    margin-left:3rem;
    color:#fff;
}

.posters{
    display: flex;
    padding:3rem;
    overflow-x: scroll;
    overflow-y: hidden;
}
.posters .poster{
    height: 14rem;
    max-width:12.5rem;
    object-fit: cover;
    margin-right:0.8rem;
}

.posters::-webkit-scrollbar{
    display: none;
  }

.small-poster{
    height: 10rem;
    max-width:8rem;
    object-fit: cover;
    margin-right:0.8rem;
}