.row{
    margin-left:4rem;
    color:#fff;
}

.posters{
    display: flex;
    padding:3rem;
    overflow-x: scroll;
    overflow-y: hidden;
}
.posters .poster{
    cursor: pointer;
    height: 16rem;
    max-width:14rem;
    object-fit: cover;
    margin-right:0.8rem;
}
.posters .poster:hover{
    transform: scale(1.2);
}


.posters::-webkit-scrollbar{
    display: none;
  }

.small-poster{
    cursor: pointer;
    height: 12rem;
    max-width:10rem;
    object-fit: cover;
    margin-right:0.8rem;
}